* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(231, 238, 225, 0.333);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
/* header */
.btn {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.1em 0.5em;
    margin-top: -.5em ;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }
.btn-img {
    width: 1em;
    
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: 1em;
}

.btn-imge {
   width: 100px;
   border: 1px solid #505050;
   border-radius: 10px;
   gap: 8em;
}


.phone {
    width: 500px;
    
    
}
 /* 
.banner-img {
    position: relative;
  }
 
  
.rond {
    width: 400px;
    height: 400px;
    background-color: #0400ff;
    border-radius: 50%;
    margin-left: -25em;
    position: absolute;
    z-index: -1;
}
*/

.banner {
    background-color: #fafaf7;
    border: 1px solid #f3f3e1;
    box-shadow: 1px 1px 20px -10px rgba(0,0,0,.7);
    margin-top: 3em;
    padding: 8em;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.second {
    width: 40%;

}

h2 {
    font-size: 7em;
}

p {
    margin-top: 3em;
}

.b {
    margin-top: 2em;
}

.second-banner {
    width: 100%;
}
.second-container {
    background-color: #c1ecc3;
    text-align: center;
}
.second-banner-img {
    width: 100px;
}
.second-container p {
    font-size: 1.5em;
    padding: 1em 1em;
}








